@model List<MoviePicker.Models.Movie>

<h2>Movies For You</h2>

<div style="display:flex; flex-wrap:wrap; gap:16px;">
    @foreach (var movie in Model)
    {
        <div style="width:180px; border:1px solid #ccc; padding:8px;">
            <img src="@movie.FullPosterUrl" style="width:100%;" />
            <h4>@movie.Title</h4>
            <p> @movie.Overview</p>
        </div>
    }
</div>