@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h2>Pick Your Filters</h2>

    <form method="post" action="/Movie/Index">
        <label>Genre:</label>
        <select name="genreId">
            <option value="28">Action</option>
            <option value="35">Comedy</option>
            <option value="27">Horror</option>
            <option value="10749">Romance</option>
            <option value="878">Sci-Fi</option>
        </select>

        <button type="submit">Find Movies</button>
    </form>

</div>
